bin
.DS_Store
*.local.*
*.local
.nimble
.envrc
*.exe
cborious.nim
nimcache

cborious
testresults
tests/id
tests/queries
tests/world
tests/events
tests/manycomponents
tests/tbenchmarks
tests/tremoval

benchs/vecs_bench
benchs/vecs.csv
baseline.csv
current.csv
baseline-*.csv
current-*.csv
